<!-- create.ejs-->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">


<form action="/event/create" method="post">
  <div class="row">
<div class="card col-12 col-md-6 col-lg-6">
    <div class="form-group">
      <label>Event Name:</label>
      <input type="text" class="form-control" name="Event[name]" required>
    </div>
    <div class="form-group">
      <label>Short Description</label>
      <textarea class="form-control" name="Event[sdescription]" rows="5"></textarea>
    </div>
    <div class="form-group">
      <label>Full Description</label>
      <textarea class="form-control" name="Event[fdescription]" rows="8"></textarea>
    </div>
</div>

  <div class="card col-12 col-md-6 col-lg-6">
    <div class="form-group" align="centre">
      <label>Image URL</label>
      <input type="url" class="form-control" name="Event[iurl]">
    </div>
    <div class="form-group">
      <span>Organizer</span>
      <select name="Event[organizer]" required>
        <option value="AIS">AIS</option>
        <option value="IBM">IBM</option>
        <option value="ITM"> ITM</option>
        <option value="CMD"> CMD</option>
      </select>

    </div>
    <div class="form-group">
      <label>Event Date</label>
      <input type="text" name="Event[date]" id="datepicker" >
    </div>

    <div class="form-group">
      <label>Time:</label>
      <input type="text" name="Event[time]" >

    </div>
    <div class="form-group">
      <label>Venue:</label>
      <select name="Event[venue]" required>
      <option value="AAB101">DB101</option>
      <option value="WLB201">JS201</option>
        <option value="OE3201">OEE301</option>
      </select>
    </div>
    <div class="form-group">
      <label>Quote</label>,
      <input type="text" name="Event[quote]">
    </div>
    <div class="form-group">
      <input type="checkbox" class="form-check-input"  name="Event[check]" value="0">
      <label class="form-check-label" for="highlightCheck">Highlighter Event</label>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
  </div>


</form>





<!--datepicker-->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>







